// Test Button
.btn {
  padding: $btn-padding-y $btn-padding-x;
  border: none;
  border-radius: $border-radius;
}

@each $key, $val in $colors {
  .btn-#{$key} {
    color: $white;
    background-color: $val;
  }
}
