// Theme Colors
$primary: navy;
$secondary: blue;
$info: purple;
$error: red;
$warning: orange;
$success: green;
$black: black;
$gray: #777777;
$white: white;

// Color Palette
$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "info": $info,
  "error": $error,
  "warning": $warning,
  "success": $success,
  "black": $black,
  "white": $white,
);

// Body
$body-bg: $white;
$body-color: $black;

// Fonts
$font-family: "Roboto", sans-serif;

$font-size-base: 1rem; //16px
$font-size-xs: $font-size-base * 0.5; //8px
$font-size-sm: $font-size-base * 0.75; //12px
$font-size-lg: $font-size-base * 1.25; //20px
$font-size-xl: $font-size-base * 1.5; //24px

// Borders
$border-style: solid;
$border-color: $gray;

$border-radius: 0.375rem;
$border-radius-sm: 0.25rem;
$border-radius-lg: 0.5rem;
$border-radius-xl: 1rem;

// Buttons
$btn-padding-y: 0.5rem;
$btn-padding-x: 1rem;
$btn-border-radius: $border-radius-lg;
